body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}
.peter-color {
  color: orange;
}

.flexible-container{
    display: flex;
    margin-bottom: 120px;
}

.half-width{
    width: 50%;
    padding-left: 6rem;
}
.half-width img{
    width: 80%;
    margin-top: 4px;

}
.link-button{
    text-decoration: none;
    padding: 10px 30px;
    color: white;
    background-image: linear-gradient(orange, red);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
}

.top-banner{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
    
}

#web-dev-ex1{
    border-left: 7px solid;
    border-image: linear-gradient(orange, red);
    border-image-slice: 1;
}
#web-dev-ex2{
    border-left: 7px solid;
    border-image: linear-gradient(purple, red);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}