body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}
.peter-color {
  color: orange;
}

.flexible-container{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 6rem;
}
.half-width img{
    width: 80%;
    margin-top: 4px;

}
.link-button{
    text-decoration: none;
    padding: 10px 30px;
    color: white;
    background-image: linear-gradient(orange, red);
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
}

.top-banner{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

